<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgotpass.css">

    <title>Forget password</title>
</head>
<body>
    <div class="container">
    <img src="Logo_rabin.png" width="160px"; height="160px";>
        <div class="title">Forgot password?</div>
        <p>Please enter your email address and your new password below The system will change for you.</p>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <input type="email"  name="email" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <input type="password" name="=newpassword" placeholder="Enter your new password" required>
                </div>
                <div class="button">
                    <input type="submit" value="Reset password">
                </div>
                
            </div>
        </form>
    </div>

    


</body>
</html>