<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewport" content="width=50px, initial-scale=1.0">
    
    <title>Start page</title>
        <link href="startpage.css" rel="stylesheet" type="text/css">
        
<body>
    
        <div class="slide">

            <figure>
                <img src = "IMG_4838.jpg">
                <img src = "IMG_3.jpg">
                <img src = "IMG_4838.jpg">
                <img src = "IMG_3.jpg">
                <img src = "IMG_4838.jpg">

            </figure>                

        </div>

            <button class="button button1" href="home.html">ENTER SITE</button>


</body>
</html>
