*{
    font-family: monospace;
    font-size: 18px;
    
}

.banner{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}
.bannerpayment{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 0px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-style:inherit;
    
}

.logo{
    cursor: pointer;  
    margin-left: auto;
    margin-right: auto;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color:black; 
    flex-grow:1;
    flex-basis: 200;
}
.navbar ul li b{
    color: #000;
    font-size: 20px;
    text-decoration: none;

}

.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(255, 180, 67); 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li b::after{
    content: '';
    height: 3px;
    width: 100%;
    background:rgb(255, 180, 67); 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
   width: 100%;
}


.userbutton{
    background-color:rgb(255, 180, 67);
    border:none;
    font-family: monospace;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.navbarmid{
    width: 85%;
    margin: auto;
    padding: 0px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbarmid ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;
    font-size: 24px;
}

.navbarmid ul li a{
    text-decoration: none;
    color:#7D7D7D;
    font-size: 28px;
    font-weight: 900;
}
.navbarmid ul li b{
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
}

.navbarmid ul li b::after{
        content: '';
        height: 5px;
        width: 100%;
        background:rgb(255, 180, 67); 
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
}



.rightcontent{
    display:block;

}

.container{
    display:flex;
    flex-wrap: wrap;
    column-gap: 100px;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 40px;
    grid-template-columns: auto auto auto;
    

}
.container h1{
    font-size: 30px;
    padding-bottom: 40px;
    
}

.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 540px;
    height: 54px;
    padding-top: 10px;
    
    
}

.select-box{
    border:none;
    appearance: none;
    border-radius: 10px;
    padding: 0 30px 0 15px;
    width: 100%;
    color: black;
    background-color: #EAEAEA; 
    font-size: 20px;
}

.select-container .icon-container{
    border:20px;
    border-radius: 10px;
    width: 40px;
    height: 54px;
    position:absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA ;
}
.icon-container i{
    font-size: 20px;
    color:rgb(255, 180, 67); 
}


.line{
    border-top: 2px solid #DDDDDD;
 
}

/*modal*/

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:rgba(0,0,0,0.3);
    padding-top: 50px;
    align-items: center;
}
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: grid;
    grid-template-columns: repeat(1,1fr);

}

.modalcontainer{
    padding: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.modalcontainer h1{
    margin-left: 20%;
    text-align: left;
    font-size: 24px;
}
.modalcontainer p{
    text-align: right;
    margin-right: 20%;
    font-size: 20px;
}

.clearfix{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


/*button*/

.booknowbtn{
    background-color: rgb(255, 180, 67);
    border:none;
    border-radius: 10px;
    align-items: center;
    font-size: 20px;
    padding:20px;
    color:black;
    margin-top: 200px;
    margin-left:  170px;
    cursor: pointer;
    
    
}

.booknowbtn:hover{
    color:white;
    background-color:rgb(252, 122, 0);
}

.paymentbtn{
    background-color: rgb(255, 180, 67);
    border:none;
    border-radius: 10px;
    font-size: 24px;
    padding: 20px;
    color:black;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    align-items: center;
    
}
.paymentbtn:hover{
    color:white;
    background-color:rgb(252, 122, 0);
}

.cancelbtn {
    background-color: whitesmoke;
    border:none;
    border-radius: 10px;
    align-items: center;
    font-size: 24px;
    padding:20px;
    color:black;
    cursor: pointer;
  }
.cancelbtn:hover{
    background-color:rgb(211, 211, 211);
}

/*footer*/

.footer{
    background-color: lightgray;
    width: 100%;
    max-height: 100vh;
    display: flex;
    
    
}

.eachblock{
    display: block;
    padding-top: 20px;
   
    padding-left: 50px;
    

}
.eachblock a{
    text-decoration: none;
    color:black;
}
  

@media  screen and (max-width:480px){
    .container{
        align-items: center;
    }

    .banner{
        width: 100%;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar a{
        float: none;
        display: block;
        text-align: left;
        
    }

    .navbarmid ul li{
        list-style: none;
        margin:  0 20px;
        position: relative;    
        display: flex;
        flex-wrap: wrap;
        
    }


    
    
}