*{
    font-family: monospace;
    font-size: 18px;
    
}

.banner{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}
.bannerpayment{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 0px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-style:inherit;
    
}

.logo{
    cursor: pointer;  
    margin-left: auto;
    margin-right: auto;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color:black; 
    flex-grow:1;
    flex-basis: 200;
}
.navbar ul li b{
    color: #000;
    font-size: 20px;
    text-decoration: none;

}

.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(255, 180, 67); 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li b::after{
    content: '';
    height: 3px;
    width: 100%;
    background:rgb(255, 180, 67); 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
   width: 100%;
}


.userbutton{
    background-color:rgb(255, 180, 67);
    border:none;
    font-family: monospace;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.navbarmid{
    width: 85%;
    margin: auto;
    padding: 0px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbarmid ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
    position: relative;
    font-size: 24px;
}

.navbarmid ul li a{
    text-decoration: none;
    color:#7D7D7D;
    font-size: 28px;
    font-weight: 900;
}
.navbarmid ul li b{
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
}

.navbarmid ul li b::after{
        content: '';
        height: 5px;
        width: 100%;
        background:rgb(255, 180, 67); 
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
}

body{

    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
}

.section{
    margin: 0;
    padding: 0;
    margin-top: -60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display:flex ;

}

.slide input{

    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 700px;
    height: 500px;
}

.nav-m {
position: absolute;
width: 700px;
margin-top: -40px;
justify-content: center;
display: flex;

}

.m-btn{
border: 2px solid rgb(255, 180, 67);
padding:5px ;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.m-btn:not(:last-child){

    margin-right:30px ;
}

.m-btn:hover{
    background-color: rgb(255, 180, 67);

}

#radio1:checked ~.first{

    margin-left:0 ;
} 
#radio2:checked ~.first{

    margin-left:-20% ;
} 

.nav-auto{
position: absolute;
width: 700px;
margin-top: 460px;
display: flex;
justify-content: center;
}

.nav-auto div{
    border: 2px solid rgb(255, 180, 67);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right:30px ;
    justify-content: center;

}

#radio1:checked ~ .nav-auto .a-b1{
    background-color:rgb(255, 180, 67) ;
}

#radio1:checked ~ .nav-auto .a-b2{
    background-color:rgb(255, 180, 67) ;
}


.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin-left: 40px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid rgb(255, 180, 67);
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(255, 180, 67);
  }

.container{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
display: inline-table;
width: 325px;
background-color: #fff;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{

    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;

}

.card-content p{
    color: #000;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn {
    
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(255, 180, 67);
    color: #000000;
    border-radius: 4px;
    margin-top: 16px;
}

.card-content .btn:hover {
    background-color: rgb(255, 216, 158);
}


/*footer*/

.footer{
    background-color: lightgray;
    width: 100%;
    max-height: 100vh;
    display: flex;
    
    
}

.eachblock{
    display: block;
    padding-top: 20px;
   
    padding-left: 50px;
    

}
.eachblock a{
    text-decoration: none;
    color:black;
}