* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    display: flex;
    height: 600px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 40px #aaa;
}

.form{

    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    margin-top: 5px;
    margin-left: 13px;

}

.box{

    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    margin-left: -25px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 30px;
    background-color: #FDAA3D;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-left: -30px;
}

#submit:hover{
    cursor: pointer;
    background-color: #fcc072;
}

.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-top: 8px;
    margin-left: -30px;
}

.form a:hover{
    color: #FDAA3D;
}

.form p{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: -30px;
}

.form b{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.form b:hover{
    cursor: pointer;
    color: #FDAA3D;
}

.side{
    display: flex;
    justify-content:center;
}

.side img{
    width: 450px;
    height: 600px;
    margin-top: -600px;
    margin-left: 349px;


}

.container img{
    margin-left: -50px ;

}