<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AboutPage.css">
    <title>Rabinvateseab Music Festival Reserve Ticket</title>
</head>
<body>
    <header>
        
           <!--header-->
            <div class="navbar"> 
                <img src="/View/image/Logo_rabin.png" alt="Logo" width="230" height="250" style="float: left;">
                <ul >
                    <li> <a href="HomePage.html">Home</a> </li>
                    <li> <a href="EventsPage.html">Events</a> </li>
                    <li> <a href="PrivilegesPage.html" >Privileges</a></li>
                    <li> <button class ="userbutton" href="UserPage.html">Login</button></li>
                </ul>
            </div>

            <div class="banner">
                <img src="/View/image/Morlam3.jpeg" alt="Banner" width="1512" height="782" class="banner">
            </div>

            <div class="navbarmid">
                <ul>    
                    <img src="/View//image/about_about.png" alt ="about" width="45" height="40"> <li> <b>About</b> </li>
                    <img src="/View/image/about_buynow.png" alt ="about" > <li> <a href="BuyTicketPage.html">Buy Now</a></li>
                </ul>
                
            </div>
            <hr class="line">

            <!--container-->
            <div class="container">
                <p>Experience the magic of Isaan at the Northeastern Thailand Music Festival! 
                    This vibrant celebration brings together traditional Isaan tunes with contemporary beats, 
                    uniting local musicians and global artists. Immerse yourself in the unique sounds of the 
                    khene and sor, indulge in Isaan delicacies, and explore local crafts. This event nurtures 
                    emerging talents and promotes eco-friendly practices. Join us for a musical and cultural 
                    journey through the heart of Northeastern Thailand! </p>
            </div>
            
            <div class="booknowbtn">
                    <a href="BuyTicketPage.html">Buy Now</a>
            </div>
                
           

            <!--Footer-->
            <div class="footer">
                    <img src="/View/image/Logo_rabin.png" alt="Logo" width="220" height="250">
                    
                    <div class="eachblock" style="padding-left: 50%;">
                        <h3>Rabinvateseab</h3>
                        <a href="https://www.canva.com/design/DAFx5f-75Ao/TXTSbkTYPSUKjNe7YNRA6g/edit">About us</a><br>
                        <a href="">Team Developer</a>
                    </div>
    
                    <div class="eachblock" >
                        <h3>Help</h3>
                        <a href="">Contact us</a><br>
                        <a href="">FaQ</a><br>
                        <a href="">Payment Method</a><br>
                        <a href="">Customer Service</a>
                    </div>
    
                    <div class="eachblock">
                        <h3>Call center</h3>
                        <h2>123-456-7890</h2>
                    </div>
    
            </div>

            
    </header>
</body>
</html>