<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HistoryPurchase.css">
    <title>Rabinvateseab Music Festival Reserve Ticket</title>
</head>
<body>
    <header>
            <!--header-->
            <div class="navbar">
                <img src="/image/Logo_rabin.png" alt="Logo" width="230" height="250">
                <ul style="float: right;">
                    <li> <a href="HomePage.html">Home</a> </li>
                    <li> <a href="EventsPage.html">Events</a> </li>
                    <li> <a href="PrivilegesPage.html" >Privileges</a></li>
                    <li> <button class ="userbutton" href="UserPage.html">Login</button></li>
                </ul>
            </div>

            <!--container-->
            <div class="middlecontainer">
                <h1>Purchased History</h1>
            </div>
            <hr><br>
            
            <div class="container">
                <img src="/image/Morlam3.jpeg" alt="Banner" width="300" height="150" class="banner">
                <div class="rightcontainer">
                    <h3 style="padding-left:20px;">Rabinvateseab Festival</h3>
                    <p style="padding-left: 20px; padding-top: 0px;">Order No.</p>
                </div>
            </div>

            <!--footer-->
            
            <div class="footer">
                <img src="/image/Logo_rabin.png" alt="Logo" width="220" height="250">
                
                <div class="eachblock" style="padding-left: 50%;">
                    <h3>Rabinvateseab</h3>
                    <a href="https://www.canva.com/design/DAFx5f-75Ao/TXTSbkTYPSUKjNe7YNRA6g/edit">About us</a><br>
                    <a href="">Team Developer</a>
                </div>

                <div class="eachblock" >
                    <h3>Help</h3>
                    <a href="">Contact us</a><br>
                    <a href="">FaQ</a><br>
                    <a href="">Payment Method</a><br>
                    <a href="">Customer Service</a>
                </div>

                <div class="eachblock">
                    <h3>Call center</h3>
                    <h2>123-456-7890</h2>
                </div>

            </div>

    </header>
</body>
</html>