<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PaymentPage.css">
    <title>Rabinvateseab Music Festival Reserve Ticket</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Checkout</h1>
            <p>Rabinvateseab Festival Music Reservation</p>
        </div>

        <div class="container">
            <p> 1.Contact Information</p>
            <form class="inputInfo">
                <label for="fname">First Name</label><br>
                <input type="text" id="fname" name="fname" class="form-field"><br>
                <label for="lname">Last Name</label><br>
                <input type="text" id="lname" name="lname" class="form-field"><br>
                <label for="Phone">Phone</label><br>
                <input type="text" id="phone" name="phone" class="form-field"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" class="form-field"><br>
            </form>
        </div>

        <div class="container">
            <p>2.Payment Method</p>
            <form>
                <p>Pay with QR Code</p>
                <img src="Qrcode.png" alt="qrcode" >
                <p>Rabinvataseab Festival Music Reservation </p>
                <p>Please payment within 10 minutes </p>
            </form>
        </div>

        <div>
            <a href="BuyTicketPage.html">Cancel payment</a>
            <a href="HistoryPurchase.html">Next</a>
        </div>
          
            
    </header>
</body>
</html>