<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PaymentPage.css">
    <title>Rabinvateseab Music Festival Reserve Ticket</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Checkout</h1>
            <p>Rabinvateseab Festival Music Reservation</p>
        </div>

        <div class="container">
            <p> 1.Contact Information</p> 
            <div class="inputInfo">
                <div class="input"> 
                    <label for="fname">First Name</label><br>
                    <input type="text" id="fname" name="fname" class="form-field"><br>
                </div>
                
                <div class="input">
                    <label for="lname">Last Name</label><br>
                    <input type="text" id="lname" name="lname" class="form-field"><br>
                </div>

                <div class="input"> 
                    <label for="Phone">Phone</label><br>
                    <input type="tel" id="phone" name="phone" class="form-field"><br>
                </div>    

                <div class="input"> 
                     <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" class="form-field"><br>
                </div>
  
            </div>
            
        </div>

        <div class="containerbottom">
            <p>2.Payment Method</p>
            <div class="paymentcontent">
                    <p style="font-weight: 600;">Pay with QR Code</p>
                    <img src="/image/Qrcode.png" alt="qrcode" class="qrcode" style="display: flex;"><br><br>
                    <p>Rabinvataseab Festival Music Reservation</p>
                    <p>Please payment within 10 minutes</p>
                    
                    <div id="ten-countdown" class="timer"></div><br>

                    <div class="choosefile">
                        <form action="PaymentPage.html" >
                        <input type="file" id="mySlip" name="slipfile" >
                        </form> 
                    </div>
                    

            </div>
            
        </div>

        <div class="bttnfoot">
            <a href="BuyTicketPage.html" class="cancelbttn">Cancel payment</a>
            <a href="HistoryPurchase.html" class="nextbttn">Next</a>
        </div>
        
        <script>
            function countdown( elementName, minutes, seconds )
            {
                var element, endTime, hours, mins, msLeft, time;

                function twoDigits( n )
                {
                    return (n <= 9 ? "0" + n : n);
                }

                function updateTimer()
                {
                    msLeft = endTime - (+new Date);
                    if ( msLeft < 1000 ) {
                        element.innerHTML = "Time is up!";
                    } else {
                        time = new Date( msLeft );
                        hours = time.getUTCHours();
                        mins = time.getUTCMinutes();
                        element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                        setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
                    }
                }

                element = document.getElementById( elementName );
                endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
                updateTimer();
            }

            countdown( "ten-countdown", 10, 0 );
            
        </script>
            
    </header>
</body>
</html>