<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewport" content="width=50px, initial-scale=1.0">
    
    <title>Start page</title>
        <link href="/View/Routes/stylesheet/StartPage.css" rel="stylesheet" type="text/css">
        
<body>
    
        <div class="slide">

            <figure>
                <img src = "/View/image/IMG_4838.jpg">
                <img src = "/View/image/Morlam3.jpeg">
                <img src = "/View/image/IMG_4838.jpg">
                <img src = "/View/image/IMG_3.jpg">
                <img src = "/View/image/IMG_4838.jpg">

            </figure>                

        </div>

            <button class="button button1" href="HomePage.html">ENTER SITE</button>


</body>
</html>
