<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="BuyTicketPage.css">
    <title>Rabinvateseab Music Festival Reserve Ticket</title>
</head>
<body>
    <header>
        
            <div class="navbar">
                <img src="Logo_rabin.png" alt="Logo" width="230" height="250">
                <ul style="float: right;">
                    <li> <a href="HomePage.html">Home</a> </li>
                    <li> <a href="EventsPage.html">Events</a> </li>
                    <li> <a href="PrivilegesPage.html" >Privileges</a></li>
                    <li> <button class ="userbutton" href="UserPage.html">Login</button></li>
                </ul>
            </div>
            
    </header>
</body>
</html>